Resources
Packages

Mages_PvP_-D/Mages-Client/.vs
Mages_PvP_-D/Mages-Client/Logs
Mages_PvP_-D/Mages-Client/obj
Mages_PvP_-D/Mages-Client/UserSettings
Mages_PvP_-D/Mages-Client/Library

Mages_PvP_-D/Mages-Server/.vs
Mages_PvP_-D/Mages-Server/Logs
Mages_PvP_-D/Mages-Server/.obj
Mages_PvP_-D/Mages-Server/UserSettings
Mages_PvP_-D/Mages-Server/Library
